<a href="">Home</a>
<div class="container">
<div *ngIf="pet">

<h2>Details about {{pet.name}}</h2>
<h3>Pet type: {{pet.type}}</h3>
<h3>Pet description: {{pet.description}}</h3>
<h3>Skills:</h3><br>
<h3>Skill 1: {{pet.skill_1}}</h3>
<h3>Skill 2: {{pet.skill_2}}</h3>
<h3> Skill 3: {{pet.skill_3}}</h3>
<h3> likes:{{numberOfLikes}}</h3>

<button class="btn btn-primary" (click)="destroy(pet._id)" value="{{pet._id}}">Adopt this pet</button>
<button  class="btn btn-primary"(click)="likeButtonClick()">Like this pet</button>

</div>
</div>
