<h2>Know of a pet needing home?</h2>
<div class="container">
<form (submit)="create()">
  <div class="form-group">
    <label>Pet Name:</label>
    <input type="text"
     class="form-control" 
     [(ngModel)]='addpet.name'
      name='addpet.name'
      required
      minlength="3" 
      maxlength="24"
      #name="ngModel" 
      > <p *ngIf="!name.valid && !name.pristine" style="color: red"> Name must be 3 characters long</p>
  </div>
   <div class="form-group">
    <label>Pet Type:</label>
    <input type="text"
     class="form-control"
      [(ngModel)]='addpet.type'
      name='addpet.type'
      required
      minlength="3" 
      maxlength="24"
      #type="ngModel" 
       > <p *ngIf="!type.valid && !type.pristine" style="color: red"> Type must be 3 characters long</p>
  </div>
  <div class="form-group">
    <label>Description:</label>
    <textarea 
      type="text"
      class="form-control"
      [(ngModel)]='addpet.description'
      name='addpet.description'
      required
      minlength="3" 
      maxlength="255"
      #description="ngModel"
      ></textarea> 
      <p *ngIf="!description.valid && !description.pristine" style="color: red"> Description must be 3 characters long</p>
  </div>
  <h4>Skills:</h4><br>
  <div class="form-group">
    <label>Skill 1:</label>
    <input type="text" class="form-control"
     [(ngModel)]='addpet.skill_1'
      name='addpet.skill_1'
      >
  </div>
  <div class="form-group">
    <label>Skill 2:</label>
    <input type="text" class="form-control" [(ngModel)]='addpet.skill_2' name='addpet.skill_2'>
  </div>
  <div class="form-group">
    <label>skill 3:</label>
    <input type="text" class="form-control" [(ngModel)]='addpet.skill_3' name='addpet.skill_3'>
  </div>
  
  <button type="submit" class="btn btn-primary">Add pet </button>
  <button class="btn btn-primary"  [routerLink]="['']"> Cancel</button>

</form>
</div>




